
body{
    font-family: 'Ubuntu', sans-serif;
}
body p{
    font-size:12px;
    color:#4A4A4A;
}
body h1{
    font-size:30px;
    color:#4A4A4A;
}
body h2{
    font-size:25px;    
    color:#4A4A4A;
}
body h4{
    font-size:15px;
    color:#4A4A4A;
}


.wrapper {
    width:90%;
    margin:auto;
    
}
.wrapper img{
    width:100%;
    padding:10px;
}
.footer-nav{
    display:none;
}

nav {
    height: 40px;
    display:flex;
}

nav img{
    width: 55px;
    margin: auto;
    margin-left:15px;
}

#menu-toggle {
    display:none;
    
}

.banner {
    background-image: url('../image/Hero%20Image%20Base.png');
    background-size: cover;
    background-position: center;
    color: white;
    height:240px;
    text-align: center;
    display:flex;
    flex-direction: column;
    padding-top:60px;
}
.banner h2, .banner p {
    color:white;
}

.banner p{
    margin-top:15px;
    font-size:12px;
    padding:0 20px;
    
}

.broken {
    padding-top:20px;
    padding-bottom:25px;
    background-color:#F8F8F8;
    border-bottom: #979797 1px solid;
}

.broken button{
    height:40px;
    width: 100%;
    margin-top:10px;
    border-radius: 5px;
    color:white;
    border:none;
    background-color:#0076BD;
    padding-top:5px;
}

.broken button p {
    color:white;
}

.connected{
    padding-top:20px;
    padding-bottom:20px;
}
.content-items h4 {
    margin-top:20px;
    
    color:#0076BD;
    
}

.blue-start{
    background-color:#0076BD;
    color:white;
    padding-top:20px;
    padding-bottom:30px;
}
.section-title{
    text-align: center;
    font-size:18px;
    margin-bottom:10px;
}
.blue-start h4{
    color:white;
}
.blue-start p {
    color:white;
}

.one-identity{
    padding:10px 0px;
    border-bottom: #979797 solid 2px;
}
.profile-building{
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:2px solid #979797;
}
.security-section{
    background-color:#F8F8F8;
    padding-top:50px;
    padding-bottom:50px;
    
}
.center-item{
    text-align: center;
}
.blue-background{
    background-color:#0076BD;
    color:white;
}

.contact-form{
    padding-top:40px;
    padding-bottom:30px;
    
}
.contact-form p, .contact-form h2 {
    color:white;
}
.contact-form h2{
    margin-top:0;
    font-size:23px;
}

.form label{
    display:block;

}

.form input {
    width: 100%;
    height:40px;
    border:none;
    padding-left:15px;
    margin-bottom:10px;
    margin-top:10px;
}
.form .message-box{
    height:230px;
}
.form button{
    width:100%;
    background-color:#F4821F;
    border: none;
    border-radius:5px;
    height:40px;
    margin-top:10px;
    
}


footer{
    padding-top:50px;
    padding-bottom:50px;
    background-color: #4A4A4A;
    color: white;

}


footer p, footer h4{
    color:white;
    
}
.social-images{
    width:100%;
    display:flex;
    margin-bottom:20px;
}
.social-images i{
    flex:1;
    margin-left:20px;
    
}
#hidden-google{
    display:none;
}

.lr-navbar{
    margin-bottom: 0px;
    display:flex;
    align-items: start;
}
.fa-angle-down{
    color:#0076BD;
}
.lr-navbar{
    height:40px;
    min-height:40px;
}
.lr-navbar img{
    width:60px;
    margin-top:5px;
    
}
.lr-navbar button{
    margin:0px 15px;
    color:lightblue;
}
.navbar-nav {
    margin: 0px 0px;
    float:left;
}
.navbar-header{
    width:100%;
}
.lr-navbar li{
    background-color:white;
    
}
.lr-navbar li a {
    color:black;
}
.lr-navbar ul{
    width:80%;
}
.lr-navbar .navbar-collapse{
    margin-left:-15px;
    padding:0px;
}
.lr-navbar li button{
        border:none;
        height:30px;
        width:150px;
        background-color:#0076BD;
        color:white;
        margin-top:10px;
        border-radius:5px;
    }

.copyright-texts{
    text-align:center;
}

 .copyright-texts .bottom-link {
    font-size:16px;
}
@media (min-width:321px){
    body{
       font-family: 'Open Sans', sans-serif;

    }
    .wrapper{
        width:80%;
    }
    .footer-nav{
        
    }
    #hidden-google{
        display:inline-block;
    }
    .lr-navbar{
        height:80px;
    }
    .lr-navbar img{
        width:150px;
        height:100%;
    }
    .lr-navbar ul{
        width:initial;
    }
    .lr-navbar li a{
        margin-top:5px;
        margin-left:5px;
        margin-right:5px;
    }
    .navbar-header{
    width:initial;
    }
    .lr-navbar li button{
        border:none;
        height:40px;
        width:190px;
        background-color:#0076BD;
        color:white;
        margin-top:10px;
        border-radius:5px;
    }
    .banner{
        height:500px;
        background-size:cover;
    }
    body h2{
        font-size:40px;
    }
    body h4{
        font-size:24px;
    }
    body p {
        font-size:16px;
    }
    .banner p, .banner h2{
        font-family: 'Open Sans', sans-serif;

    }
    .banner h2{
        font-size:50px;
        margin-top:150px;
    }
    .banner p {
        font-size:20px;
    }
    
    .broken .wrapper{
        height:100%;
    }
    .broken-text{
        flex:3;
    }
    .broken button{
        width:250px;
    }
    .broken{
        height:185px;
    }
   
    .flex-wrapper{
        display:flex;
        align-items: center;
        height:100%;
    }
    .connected{
        height:475px;
    }
    .connected .punchline{
        width:430px;
        margin-right:120px;
    }
    .punchline h1{
        font-size:40px;
    }
    .connected .content-items{
        flex:1;
    }
    .content-item{
        margin-top:10px;
    }
    .content-item h4{
        margin-top:30px;
        margin-bottom:30px;
        
    }
    .blue-start{
        height:520px;
    }
    .blue-start .flex-wrapper{
        align-items: flex-start;
        justify-content: space-between;
    }
    .blue-start .section-title {
        font-size:35px;
        margin-top:100px;
        margin-bottom:50px;
    }
    .blue-start .start-item{
        width:30%;
    }
    .one-identity{
        height:560px;
    }
    .one-identity img{
        width:600px;
        margin-right:50px;
    }
    .one-identity .section-title{
        text-align: left;
        font-size:35px;
    }
    .one-identity .content-item h4{
        font-size: 25px;
    }
    .profile-building{
        height:350px;
    }
    .profile-building .flex-wrapper{
        justify-content: space-between;
    }
    .profile-building .center-item{
        width:30%;
    }
    .security-section{
        height:310px;
    }
    .security-section .wrapper{
        width:60%;
    }
    
    .security-section h4{
        font-size:35px;
        margin-bottom:15px;
    }
    .contact-form .wrapper{
        width:55%;
    }
    .contact-form .flex-wrapper{
        justify-content: space-between;
        align-items: flex-start;
    }
    .form-column{
    
        width:380px;
    }
    .form-column input{
        margin-bottom:20px;
    }
    .social-images{
        width:320px;
        margin:auto;
    }
    footer{
        height:1030px;
    }
    .footer-nav{
        display:block;
        width:90%;
        margin:auto;
        padding-top: 50px;
        padding-bottom:75px;
    }
    .navigation-row{
        display:flex;
        align-items: flex-start;
        justify-content:space-between;
        
    }
    .navigation-column{
        width:300px;
        
    }
    .navigation-column h4{
        color:#0076BD;
        font-size:20px;
        margin-bottom: 30px;
    }
    .navigation-column ul{
        list-style: none;
        padding-left:0;
    }
    .navigation-column ul>li{
        margin-bottom:15px;
        font-size:14px;
    }
    .footer-nav{
        border-bottom:solid 1px #979797 ;
    }
    .copyright-section {
        text-align:center;
        margin-top: 100px;
    }
    .copyright-texts{
        margin-top:40px;
        display:flex;
        justify-content: center;
    }
    .copyright-texts .bottom-link {
        margin-left:10px;
        border-left:1px solid white;
        padding-left:10px;
    }
    
}

